#cffi==1.11.5
cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
face-alignment
imageio
kiwisolver==1.0.1
matplotlib
networkx==2.2
numpy==1.17.0
opencv-python-headless
pandas
Pillow==6.2.0
pycparser==2.18
pygit==0.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets
PyYAML==5.1
scikit-image==0.19.1
scikit-learn==0.19.2
scipy==1.4.1
six==1.11.0
toolz==0.9.0
torch
torchvision
tqdm==4.24.0